.about-page-container{
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(1,.01,1,.65);

  display: flex;
  flex-flow: row;
  flex-grow: 2;

  .about-image-element-wrapper{
   
    border: 3px solid red;

    img{
      display: block;
      width: 600px;
      height: 500px;
      object-fit: none;
      object-position: 50% 50%;
    }
  }

  .paragraph-container{
    margin-left: 2rem;
    display: flex;
    flex-flow: column;
    padding-top: 1rem;
  }

  p{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-indent: 2rem;
  }
}

@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}