@use "../abstracts/vars";
@use "../abstracts/mixins";

.content-container{
  position: relative; 
  padding: 3rem;
  // padding-top: 3rem;
  // padding-left: 3rem;
  display: inline-block;
  background-color: #fff;
  margin-left: vars.$sidenav-width;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}