@use "../abstracts/vars";
@use "../abstracts/mixins";

.content-container{
  position: relative; 
  padding-top: 2rem;
  display: inline-block;
  background-color: vars.$color-lighter-grey;
  flex-grow: 5;
}