@use "../abstracts/vars";
@use "../abstracts/mixins";

.content-container{
  position: relative; 
  // padding-top: 2rem;
  padding: 3rem;
  display: inline-block;
  background-color: #fff;
  // border: 5px dashed purple;
}