.detail-page-container{

  // width: 100vw;
  height: 100vh;
  
  .image-div{

    height: 30rem;
    // max-height: 20rem;  
    // height: 20rem;

    img{
      width: auto;
      object-fit: contain;
      max-height: 100%;
      max-width: 100%;
    }
  }
}