.detail-page-container{  
  height: 100%;
  width: 100%;
  
  .image-div{

    height: 30rem;
    
    img{
      width: auto;
      object-fit: contain;
      max-height: 100%;
      max-width: 100%;
    }
  }
}