.landing-page-container {
  font-family: Staatliches;
  font-size: 15rem;
  font-weight: normal;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .titlediv {
    // transform: translate(-400px, -400px);
  }

  .movediv {
    transition: transform 2s ease-in;
    transform: translate(0,0);
  }
}