@use "../abstracts/mixins";
@use "../abstracts/vars";

.navbar{

  .title-container{
    font-size: 5rem;
  }

  .link-container{

    button{
      border: none;
      background-color: none;

    }
  }

  .icon-container{

  }
}