@use "../abstracts/vars";
@use "../abstracts/mixins";

.navbar{
  position: relative;
  top: 0;
  // height: vars.$landed-image-height;

  display: flex;
  flex-flow: row;
  font-size: 4rem;
  align-items: center;
  justify-content: end;

  background-color: vars.$color-nav-background;

  .navbackground{
    position: relative;
    margin-right: 1rem;
  }

  .title-container{
    position: relative;
    top: 0;
    color: white;

    padding: 2rem 0 0 0;
    align-self: center;
    font-size: 1.8em;
    text-align: center;
    transform-origin: top center;

    // transform: translateY(20vh);

    h1{
      // height: 6rem;
    }
  }

  .fake-line{
    width: 50rem;
    height: 1rem;
    background-color: white;
    opacity: 1;
    transform: translateY(18.5vh);
  }

  .link-container{
    display: flex;
    flex-flow: row;

    position: relative;
    bottom: 0;
    margin: 0 auto;

    transform: translateY(22vh);
    
    a{
      margin: 0 3rem;
      padding: 0.5rem;
      border: none;
      font-size: 0.7em;
      font-family: "Helvetica", sans-serif;
      color: white;
    }
  }
}

.navbar.nav-small .title-container{
  transition: all 2s ease-in;
  // transform: translate(40vw, 20vho) scale(0.8);
}

.navbar.nav-small .fake-line{
  transition: all 2s ease-in;
  opacity: 0;
  transform: translateY(0vh);
}

.navbar.nav-small .link-container{
  transition: all 2s ease-in;
  transform: translateY(0vh);

  a{
    transition: color 2s ease-in;

  }
}

.dontshow{
  display: none;
}