@use "../abstracts/mixins";
@use "../abstracts/vars";

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  //none of these numbers look right
  @include mixins.respond(tab-land){  // width < 1200
    font-size: 56.25%;
  }
  @include mixins.respond(tab-port){  // width < 900
    font-size: 50%;
  }
  @include mixins.respond(phone){
    font-size: 40%;
  }
  @include mixins.respond(big-desk){  // width > 1800
    font-size: 75%;
  }

  font-family: Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

.pagewrapper *{
  font-size: 3rem;
}